*{
    padding:0;
    margin:0;
}
.page-container{
    overflow:hidden;
}

/*--home section--*/

.home-container{
    background-image:url('/Assets/images/moving\ 1.png');
    height:100vh;
    max-width:100vw;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
}

.home-container > nav > ul{
    display:flex;
    justify-content:center;
    align-items: center;
    height:100px;
}

.home-container > nav > ul > li{
    list-style:none;
    padding:0px 20px;
}

.home-container > nav > ul > li > a{
    text-decoration:none;
    color:white;
}

.login-button-1{
    padding:5px 10px;
    background-color:rgb(237, 237, 68);
    border:none;
    margin-right:10px;
}

.login-button-2{
    padding:5px 10px;
    background-color:rgb(0, 0, 0);
    color:white;
    border:none;
}

.home-text{
    margin:5px 5px 5px 5px;
    position:relative;
    right:-50px;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    height:80vh;
}
.home-text h1{
    color:rgb(237, 237, 68);
    font-size:48px;
    font-family:'Adamina' , sans-serif;
    max-width:600px;
    font-weight:400;
}

.home-text h3{
    max-width:600px;
    color:rgb(209, 209, 209);
    font-family:'Poppins', sans-serif;
    font-size:32px;
    font-weight:400;
}

/*--ABOUT SECTION--*/

.about-container{
    display:flex;
    justify-content:space-between;
    margin:50px 0px;
}


.about-image img{
    width:600;
}

.about-text-container{
    display:flex;
    justify-content:start;
    align-items: center;
    width:600px;
}
.about-text{
    height:300px;
    width:400px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    overflow:hidden;
}

.about-text > h1{
    font-size:48px;
    font-weight:400;
}

.about-text > h3{
    color:rgb(110, 110, 110);
    font-family:'Poppins', sans-serif;
    font-weight:400;
    max-width:400px;
    align-items:flex-start;
}

.learnmore-button{
    padding:20px 10px;
    width:150px;
    border-radius:12px;
    border:none;
    background-color:black;
    color:yellow;
    position:relative;
    top:7px;
    right:10px;
}







































