*{
    padding:0;
    margin:0;
}

body{
    background-color:rgb(239, 239, 239);
}

.page-container{
    overflow:hidden;
}

/*--home section--*/

.home-container{
    background-image:url('/Assets/images/moving\ 1.png');
    height:100vh;
    max-width:100vw;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

.home-container > nav > ul{
    display:flex;
    justify-content:center;
    align-items: center;
    height:100px;
}

.home-container > nav > ul > li{
    list-style:none;
    padding:0px 20px;
}

.home-container > nav > ul > li > a{
    text-decoration:none;
    color:white;
}

.login-button-1{
    padding:5px 10px;
    background-color:rgb(237, 237, 68);
    border:none;
    margin-right:10px;
}

.login-button-2{
    padding:5px 10px;
    background-color:rgb(0, 0, 0);
    color:white;
    border:none;
}

.home-text{
    margin:5px 5px 5px 5px;
    position:relative;
    right:-50px;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    height:80vh;
}
.home-text h1{
    color:rgb(237, 237, 68);
    font-size:48px;
    font-family:'Adamina' , sans-serif;
    max-width:600px;
    font-weight:400;
}

.home-text h3{
    max-width:600px;
    color:rgb(209, 209, 209);
    font-family:'Poppins', sans-serif;
    font-size:32px;
    font-weight:400;
}

/*--ABOUT SECTION--*/

.about-container{
    display:flex;
    justify-content:space-between;
    margin:50px 0px;
}


.about-image img{
    width:600;
}

.about-text-container{
    display:flex;
    justify-content:start;
    align-items: center;
    width:600px;
}
.about-text{
    height:300px;
    width:400px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    overflow:hidden;
}

.about-text > h1{
    font-size:48px;
    font-weight:400;
}

.about-text > h3{
    color:rgb(110, 110, 110);
    font-family:'Poppins', sans-serif;
    font-weight:400;
    max-width:400px;
    align-items:flex-start;
}

.learnmore-button{
    padding:20px 10px;
    width:150px;
    border-radius:12px;
    border:none;
    background-color:black;
    color:yellow;
    position:relative;
    top:7px;
    right:10px;
}

/*---Movers Section----*/

.mover-container{
    
}

.mover-container h1{
    font-size:48px;
    font-weight:400;
    position:relative;
    right:-200px;
    margin-bottom:100px;
}

.movers{
    display:grid;
    grid-template-columns:300px 300px 300px;
    justify-content: center;
    row-gap:20px;
}
.mover-card{
    display:grid;
    padding:10px;
}

.mover-card img{
    width:250px;
}

.mover-card h4{
    padding:20px 0px;

}

.mover-icon{
    width:250px;
    display:flex;
}
.mover-icon i{
    border:1px solid gray;
    border-bottom:none;
    width:100px;
    justify-content: flex-end;
    height:30px;  
}

/*-----FOOTER----*/

.footer-container{
    background-color:black;
    color:white;
    height:300px;
    
}

.footer-container h3{
    font-size: 32px;
    font-weight:400;
    padding:50px;
    position: relative;
    right:-140px;

}

.footer-container > h3 > span{
    color:yellow;
}

.footer{
    display:flex;
    justify-content: space-evenly;

}

.row-links{
    display:flex;
    justify-content: space-around;
    align-items:center;
    width:100px;
}

.column-links{
    display:grid;
}

.column-links > a{
    text-decoration: none;
    color: grey;
    line-height:1.5;
}

/*--------Start of Movers html file--------*/
.navigation-bar{
    background-color:rgb(52, 42, 16);
    height:250px;
}

hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
nav ul{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100px;
}

nav ul li{
    padding:0px 20px;
    list-style:none;
}

nav ul li a{
    text-decoration:none;
    color:white;
}
.work-container{
    overflow:hidden;
    width:auto;
}
.work-button{
    padding:20px 20px;
    width:150px;
    font-weight:600;
    border-radius:12px;
    border:none;
    background-color:rgb(234, 165, 4);
    color:rgb(0, 0, 0);
    position:relative;
    top:7px;
    right:10px;
}

.work-button > i{
    color:white;
}

.navigation-text{
    display:flex;
    justify-content: space-around;
    align-items:center;
    color:white;
    font-family:'Actor' , sans-serif;
}

.navigation-text-left >h2{
    font-size:32px;
    font-weight:100;
    padding:20px 0px;
}

.navigation-text-left > h4{
    padding:10px 0px;
}

.navigation-text-right >h3{
    font-size:32px;
    font-weight:100;
    padding:10px 0px;
}

.navigation-text-right > h4{
    padding:10px 0px;
}


/*---HOME SECTION---*/

.homebar-container{
    display:flex;
    justify-content:space-around;
}

.home-gallery{
    display:grid;
    position:relative;
    bottom:-50px;
}

.home-gallery img{
    height:550px;
}

.home-slides img{
    height:100px;
}

.home-slides{
    display:flex;
    justify-content: space-between;
}

.home-contact-card{
    display:grid;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-right:50px;
    height:550px;
    width:400px;
    justify-items:center;
    align-content: space-between;
    border-radius: 15px;
    position:relative;
    bottom:-50px;
}

.home-contact-name{
    display:flex;
    align-items:center;
    border-radius:10px;
    background-color: rgb(225, 225, 225);
    height:70px;
    width:350px;
    position:relative;
    bottom:-10px;
}

.card-name > h4{
    font-weight: 200;
}

.card-name > p{
    font-weight: 200;
    color:orange;
}

.home-contact-name img{
    width:50px;
    height:50px;
    border-radius:50%;
}

form{
    display:grid;
    align-content:space-between;
    overflow: hidden;
    height:450px;
}

.form-container{
    display:flex;
    flex-direction: column;
    border:none;
    border-radius:8px;
    height:60px;
}

.form-container > input{
    outline:none;
    height:50px;
    color:black;
    position:relative;
    right:-30px;
    font-size:18px;
    border:.5px solid rgb(226, 226, 226);
    width:350px;
    border-radius:8px;
}

.form-container > input::placeholder{
    color:black;
    position:relative;
    border: 8px;
    right:-20px;
}

.learnmore-container{
    height:120px;
    overflow: hidden;
    position: relative;
    top:-100px;
    right:-20px;
}

.learnmore-button-2{
    padding:20px 10px;
    width:400px;
    height:100px;
    border-radius:20px;
    font-size:20px;
    border:none;
    background-color:black;
    color:rgb(255, 255, 255);
    position:relative;
    top:20px;
    right:20px;
}

.learnmore-button-2 > i{
    color: yellow;
}


/*----------DETAILS SECTION-------*/


.details-container{
    margin-top:100px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(254, 254, 254, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width:700px;
    height:170px;
    position:relative;
    border-radius:20px;
    right:-50px;
    overflow: hidden;
}

.details-container > h3{
    padding-left:50px;
    display:grid;
    align-content: center;
    font-size:28px;
    font-weight:200;
    font-family:'Actor';
    height:100px;
}

.details-button-container{
    display:flex;
    justify-content:space-between;

}

.details-button{
    width:400px;
    height:72px;
    border:.5px solid rgb(228, 228, 228);
    background-color:white;
}

/*----------DESCRIPTION SECTION-------*/

.description-container{
    margin-top:100px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(254, 254, 254, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width:700px;
    height:400px;
    position:relative;
    border-radius:20px;
    right:-50px;
    overflow: hidden;
}

.description-container > h3{
    padding-left:50px;
    display:grid;
    align-content: center;
    font-size:28px;
    font-weight:200;
    font-family:'Actor';
    height:100px;
}

.description-paragraph{
    border:.5px solid rgb(228, 228, 228);
    height:300px;
    display:grid;
    align-content:space-evenly;
    justify-items:center;
}

.description-paragraph > p{
    width:600px;
    color:rgb(110, 110, 110);
    font-family:'Actor';
}

/*----FEATURES-----*/

.feature-container{
    margin-top:100px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(254, 254, 254, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    width:700px;
    height:400px;
    position:relative;
    border-radius:20px;
    right:-50px;
    overflow: hidden;
}

.feature-container > h3{
    padding-left:50px;
    display:grid;
    align-content: center;
    font-size:28px;
    font-weight:200;
    font-family:'Actor';
    height:100px;
}

.features-links{
    box-shadow: rgba(254, 254, 254, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    height:300px;
    display:flex;
    justify-content:space-around;
}

.features{
    display:grid;
    align-content: space-around;
}

.features > a{
    color:black;
    font-family:'Actor';
    text-decoration:none;
}

.features > a > img{
    height:18px;
    position:relative;
    left:-5px;
    bottom:-5px;
}
































