*{
    padding:0;
    margin:0;
}
.page-container{
    overflow:hidden;
}

/*--home section--*/

.home-container{
    background-image:url('/Assets/images/moving\ 1.png');
    height:100vh;
    max-width:100vw;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

.home-container > nav > ul{
    display:flex;
    justify-content:center;
    align-items: center;
    height:100px;
}

.home-container > nav > ul > li{
    list-style:none;
    padding:0px 20px;
}

.home-container > nav > ul > li > a{
    text-decoration:none;
    color:white;
}

.login-button-1{
    padding:5px 10px;
    background-color:rgb(237, 237, 68);
    border:none;
    margin-right:10px;
}

.login-button-2{
    padding:5px 10px;
    background-color:rgb(0, 0, 0);
    color:white;
    border:none;
}

.home-text{
    margin:5px 5px 5px 5px;
    position:relative;
    right:-50px;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    height:80vh;
}
.home-text h1{
    color:rgb(237, 237, 68);
    font-size:48px;
    font-family:'Adamina' , sans-serif;
    max-width:600px;
    font-weight:400;
}

.home-text h3{
    max-width:600px;
    color:rgb(209, 209, 209);
    font-family:'Poppins', sans-serif;
    font-size:32px;
    font-weight:400;
}

/*--ABOUT SECTION--*/

.about-container{
    display:flex;
    justify-content:space-between;
    margin:50px 0px;
}


.about-image img{
    width:600;
}

.about-text-container{
    display:flex;
    justify-content:start;
    align-items: center;
    width:600px;
}
.about-text{
    height:300px;
    width:400px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    overflow:hidden;
}

.about-text > h1{
    font-size:48px;
    font-weight:400;
}

.about-text > h3{
    color:rgb(110, 110, 110);
    font-family:'Poppins', sans-serif;
    font-weight:400;
    max-width:400px;
    align-items:flex-start;
}

.learnmore-button{
    padding:20px 10px;
    width:150px;
    border-radius:12px;
    border:none;
    background-color:black;
    color:yellow;
    position:relative;
    top:7px;
    right:10px;
}

/*---Movers Section----*/

.mover-container{
    
}

.mover-container h1{
    font-size:48px;
    font-weight:400;
    position:relative;
    right:-200px;
    margin-bottom:100px;
}

.movers{
    display:grid;
    grid-template-columns:300px 300px 300px;
    justify-content: center;
    row-gap:20px;
}
.mover-card{
    display:grid;
    padding:10px;
}

.mover-card img{
    width:250px;
}

.mover-card h4{
    padding:20px 0px;

}

.mover-icon{
    width:250px;
    display:flex;
}
.mover-icon i{
    border:1px solid gray;
    border-bottom:none;
    width:100px;
    justify-content: flex-end;
    height:30px;  
}

/*-----FOOTER----*/

.footer-container{
    background-color:black;
    color:white;
    height:300px;
    
}

.footer-container h3{
    font-size: 32px;
    font-weight:400;
    padding:50px;
    position: relative;
    right:-140px;

}

.footer-container > h3 > span{
    color:yellow;
}

.footer{
    display:flex;
    justify-content: space-evenly;

}

.row-links{
    display:flex;
    justify-content: space-around;
    align-items:center;
    width:100px;
}

.column-links{
    display:grid;
}

.column-links > a{
    text-decoration: none;
    color: grey;
    line-height:1.5;
}

/*--------Start of Movers html file--------*/
.navigation-bar{
    background-color:rgb(52, 42, 16);
    height:250px;
}

hr{
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
nav ul{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100px;
}

nav ul li{
    padding:0px 20px;
    list-style:none;
}

nav ul li a{
    text-decoration:none;
    color:white;
}
.work-container{
    overflow:hidden;
    width:auto;
}
.work-button{
    padding:20px 20px;
    width:150px;
    font-weight:600;
    border-radius:12px;
    border:none;
    background-color:rgb(234, 165, 4);
    color:rgb(0, 0, 0);
    position:relative;
    top:7px;
    right:10px;
}

.work-button > i{
    color:white;
}

.navigation-text{
    display:flex;
    justify-content: space-around;
    align-items:center;
    color:white;
    font-family:'Actor' , sans-serif;
}

.navigation-text-left >h2{
    font-size:32px;
    font-weight:100;
    padding:20px 0px;
}

.navigation-text-left > h4{
    padding:10px 0px;
}

.navigation-text-right >h3{
    font-size:32px;
    font-weight:100;
    padding:10px 0px;
}

.navigation-text-right > h4{
    padding:10px 0px;
}

















































